body{
    background:#000;
    color:#ffffff;
    font-family:'Poppins', sans-serif;
}

/* Logo */
header h1{
    color:#ff9800;
    font-weight:700;
}

/* Navigation */
nav a{
    color:#ffffff;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#ff9800;
}

/* Hero Title */
.content h2{
    color:#ffffff;
    font-size:60px;
    font-weight:700;
}

/* Highlight your name */
.content h2 span{
    color:#4da6ff;
}

/* Hero Description */
.content p{
    color:#f2f2f2;
    font-size:20px;
}

/* Section Titles */
section h2{
    color:#ff9800;
    font-size:40px;
    font-weight:bold;
}

/* Card Titles */
.card h3{
    color:#ff9800;
}

/* Card Text */
.card p,
.about-box p,
.contact-box p,
footer{
    color:#f5f5f5;
}