span{
    color:#ff9f1c;
}

.about-box,
.contact-box{
    max-width:700px;
    margin:auto;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    border-radius:20px;
    padding:30px;
    line-height:2;
}

.project-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:260px;
    max-width:320px;
}

.about-box:hover,
.contact-box:hover{
    box-shadow:0 0 20px rgba(255,159,28,.5);
}

button{
    box-shadow:0 0 20px rgba(255,159,28,.5);
}